.form{
    border-radius: 20px;
    height: 50px;
    margin: 20px;
    padding: 20px;
   
    

}

.enviar{
    border-radius: 20px;
    height: 50px;
    margin: 20px;
    padding: 10px;
   
}

.enviar:hover{
    background-color:cadetblue;
}